body {
    background-color: blanchedalmond;
}

.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#excuse {
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}